# Problem 1
Bir YetGenli yeni aldığı bahçesinin etrafına çit çevirmek istiyor. Bahçenin etrafını çit ile çevirmek için gerekli çit uzunluğunu ve bahçenin alanını hesaplayan fonksiyonu yazınız.

In [ ]:
def bahce(uzunluk, genislik):
    cevre = 2 * (uzunluk + genislik)
    alan = uzunluk * genislik
    return cevre, alan

uzunluk = float(input("Bahçenin uzunluğu: "))
genislik = float(input("Bahçenin genişliği: "))
cevre,alan = bahce(uzunluk, genislik)

print(f"Gerekli çit uzunluğu: {cevre} ")
print(f"Bahçenin alanı: {alan}")

Gerekli çit uzunluğu: 100.0
Bahçenin alanı: 600.0

# Problem 2
Kendisine gönderilen 2 sayı arasındaki tüm asal sayıları bulan fonksiyonu yazınız.

In [ ]:
def asal_sayilar(a, b):
    asal_listesi = []
    for sayi in range(a, b + 1):
        if sayi < 2:
            continue 
        
        asal = True  
        for i in range(2, sayi):  
            if sayi % i == 0:  
                asal = False
                break  
        
        if asal:
            asal_listesi.append(sayi)
    
    return asal_listesi  


basla = int(input("Başlangıç sayısı: "))
bitir = int(input("Bitiş sayısı: "))
print(f"{basla} ile {bitir} arasındaki asal sayılar: {asal_sayilar(basla, bitir)}")

11 ile 155 arasındaki asal sayılar: [11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151]

# Problem 3
YetGen liderlerinin kurdukları girişim unicorn oluyor. YetGen liderleri iş arkadaşlarının alacağı ücretlerini hesaplamak için bir fonksiyon yazdılar. Bu fonksiyonu kullanarak, YetGen liderlerinin iş arkadaşlarına verecekleri ücretleri hesaplayınız.

Ücret hesaplanması çalışma saatine bağlıdır. Bunun için kullanıcıdan çalışma saati bilgisinn alın. Sonrasında yapılacak ödemenin hesaplanacağı computePay() adlı bir fonksiyon oluşturun. Bu fonksiyonun içinde işlemler yapın. Çalışma saati 40 ve altındaysa saat başına ücret 10 TL’dir. 40 saatin üstünde çalışıldıysa saat başına ücret 15 TL sayılmaktadır.

```
Test etmek için 30 saat değerini giriniz,  sonuç 300 TL çıkmalı, 
ikincil test olarak 50 değerini giriniz,  sonuç 750 TL çıkmalı.
```

In [3]:
def computePay(calisma_Saati):

    if calisma_Saati < 41:
        ucret = 10 
    else:
        ucret = 15
    return ucret*calisma_Saati

calisma_saati = int(input("Çalışma saatini giriniz: "))

print(f"Toplam ödeme: {computePay(calisma_saati)} TL")

Toplam ödeme: 750 TL

# Problem 4
YetGenliler zirveye gitmek için toplanıyor. Zirveye gitmek için kiraladıkları araçlar 4'er kişiliktir. Gelecek kişi sayısı için Airtable üzerinde form açılıyor. Gelecek kişi sayısını alıp dört kişilik araçlara bölüp kalan kişi sayısını döndüren bir fonksiyon yazınız.

In [20]:
def kalan_kisi_sayisi(gelecek_kisi):

    return gelecek_kisi % 4

gelecek_kisi = int(input("Gelecek kişi sayısını giriniz: "))

print(f"Kalan kişi sayısı: {kalan_kisi_sayisi(gelecek_kisi)}")

Kalan kişi sayısı: 2

# Problem 5
sayiTopla() adında bir fonksiyon yazın. sayiTopla() fonksiyonu girilen sayıları toplayarak yazdırmasını sağlayan bir fonksiyon yazınız.

Örneğin sayiTopla(1,2,3,4,5) yazdığımızda 15 çıktısını almalıyız. sayiTopla(1,2,3,4,5,6,7,8,9,10) yazdığımızda 55 çıktısını almalıyız.

In [21]:
def sayiTopla(*sayilar):

    return sum(sayilar)

print(sayiTopla(1, 2, 3, 4, 5))

print(sayiTopla(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

15
55

# Problem 6

[("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)] listesi içerisinde verilen elemanların her birini tuple içindeki 2. Elemana göre sıralayınız.

In [31]:
sayilar = [("xxx", 1), ("xxx", 2), ("xxx", 9), ("xxx", 3), ("xxx", 1), ("xxx", 13), ("xxx", 26), ("xxx", 4)]

sirali_sayilar = sorted(sayilar, key=lambda x: x[1])

print(sirali_sayilar)

[('xxx', 1), ('xxx', 1), ('xxx', 2), ('xxx', 3), ('xxx', 4), ('xxx', 9), ('xxx', 13), ('xxx', 26)]

# Problem 7
List comprehension kullanarak 1'den 100'e kadar olan sayılardan sadece çift sayıları bir listeye atmayı yapmayı çalışın.

In [33]:
cift_sayilar = [x for x in range(1, 101) if x % 2 == 0]

print(cift_sayilar)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]